<br />
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row" id="dataItem">
            <div class='col-md-2'>
                <a href="../Menu/Menu" class="nav-link">
                    <div class='card btn p-0' onclick=''>
                        <div class='card-body p-1'>
                            <div class='view overlay zoom'>
                                <img class='img-thumbnail' src='../img/box-icon.png'>
                            </div>
                        </div>
                        <div class='card-footer'>
                            <center><label style='color:dimgray'>Product</label></center>
                        </div>
                    </div>
                </a>
            </div>
            <div class='col-md-2'>
                <div class='card btn p-0' onclick=''>
                    <div class='card-body p-1'>
                        <div class='view overlay zoom'>
                            <img class='img-thumbnail' src='../img/stok-icon.png'>
                        </div>
                    </div>
                    <div class='card-footer'>
                        <center><label style='color:dimgray'>Manajemen Stok</label></center>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <div class='card btn p-0' onclick=''>
                    <div class='card-body p-1'>
                        <div class='view overlay zoom'>
                            <img class='img-thumbnail' src='../img/people-icon.png'>
                        </div>
                    </div>
                    <div class='card-footer'>
                        <center><label style='color:dimgray'>Kostumer Dan Suppliers</label></center>
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <div class='card btn p-0' onclick=''>
                    <div class='card-body p-1'>
                        <div class='view overlay zoom'>
                            <img class='img-thumbnail' src='../img/tax-icon.png'>
                        </div>
                    </div>
                    <div class='card-footer'>
                        <center><label style='color:dimgray'>Diskon, Tax dan Fee</label></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
