<aside class="main-sidebar sidebar-light-blue elevation-4" style="background-color: #fdf5ff; ">
    <a href="~/Home/Index" class="brand-link" style="background: #89369e; ">
        <h2 class="brand-text" style="text-align: center; color: white">POS Happiness</h2>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block" style=" font-weight: bold;">Hi, User</a>
            </div>
        </div>
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="../Kasir/Kasir" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Kasir</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../Transaksi/Transaksi" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Transaksi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../Menu/Menu" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Menu</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>