<br />
<div class="container-fluid">
    <div class="col-md-12 row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="col-md-12">
                        <div class="row">
                            <input type="text" class="form-control col-10" placeholder="cari" />
                            <div class="dropdown col-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Menu</a>
                                    <a class="dropdown-item" href="#">Harga</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="dataItem">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New Costumer" />&nbsp;
                        <input type="button" class="btn btn-warning" value="Batalkan Pesanan" onclick="BayarNanti()" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group" id="hargaItem">
                        <table class='table table-sm' id="tPesanan">
                            <thead><tr><td>Pesanan</td><td>Harga</td><td>Jumlah</td><td>Total</td></tr></thead>
                            <tbody id="tbody-tPesanan"></tbody>
                            <tfoot style="background-color:lightgray; border:none">
                                <tr><td colspan="3" >SubTotal</td><td id="subTotal"></td></tr>
                                <tr><td colspan="3" >Tax 15%</td><td id="tax"></td></tr>
                            </tfoot>
                        </table>
                        <hr />
                        <center><h3 id="total">Total : Rp. 0 </h3></center>
                    </div>
                </div>
                <div class="card-footer">
                    <center>
                        <input type="button" class="btn btn-danger" value="Bayar Sekarang" onclick="BayarSekarang()" />&nbsp;
                        <input type="button" class="btn btn-secondary" value="Bayar Nanti" onclick="BayarNanti()" />
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Pembayaran">
    <div class="modal-dialog">
        <div class="modal-content">
            <section class="modal-body">
                <div class="container-fluid">
                    <br />
                    <partial name="_MenuPembayaran" />
                </div>
            </section>
            <div class="modal-footer">
                <div class="w-100">
                    <center>
                        <button type="button" class="btn btn-danger" id="bBayar" onclick="">Bayar</button>&nbsp;
                        <button type="button" class="btn btn-secondary" onclick="CloseModalPembayaran()">Cancel</button>&nbsp;
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadData();
        $("#bBayar").prop('disabled', true);
    });

    var totalHarga = 0;
    var taxTotal = 0;
    var totalBayar = 0;
    var tempPesanan = [];

    function LoadData() {
        param = {};

        $.ajax({
            type: 'GET',
            url: '../DataDummy/Data.json',
            data: param,
            success: function (Data, textStatus, jqXHR) {
                //$("#tbody-tableMenu").empty();
                var cHtml = '';
                var no = 0;
                $.each(Data.item, function (i, rowData) {
                    no += 1;
                    var link = '"' + rowData.nama + '"';
                    cHtml += "<div class='col-3'>" +
                        "<div class='card btn p-0' onclick='Keranjang(" + rowData.id + "," + rowData.harga + "," + link + ")'>" +
                        "<div class='card-body p-1'>" +
                        "<div class='view overlay zoom'>" +
                        "<img class='w-100' src='" + rowData.gambar + "' alt='gambar alam'>" +
                        "</div></div>" +
                        "<div class='card-footer'>" +
                        "<div class='row'>" +
                        "<center><label style='color:dimgray'>" + rowData.nama + "</label></center>" +
                        "</div></div></div></div>";
                });
                document.getElementById('dataItem').innerHTML += cHtml;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Get Data Error.")
            }
        });
    }

    function Keranjang(id, harga, nama) {
        if (tempPesanan.length == 0) {
            tempPesanan.push({ pId: id, pHarga: harga, pNama: nama, pJumlah: 1, pTotalHarga: harga });
            TampilPesanan();
        } else {
            var tempData = 0;
            for (var i in tempPesanan) {
                if (tempPesanan[i].pId == id) {
                    tempData = 1;
                }
            }
            if (tempData != 0) {
                for (var i in tempPesanan) {
                    if (tempPesanan[i].pId == id) {
                        tempPesanan[i].pTotalHarga = tempPesanan[i].pTotalHarga + harga;
                        tempPesanan[i].pJumlah = tempPesanan[i].pJumlah + 1;
                    }
                }
                TampilPesanan();
            } else {
                tempPesanan.push({ pId: id, pHarga: harga, pNama: nama, pJumlah: 1, pTotalHarga: harga });
                TampilPesanan();
            }
        }
        console.log(tempPesanan);
    }

    function TampilPesanan() {
        var cHtml;
        totalHarga = 0;

        for (var i in tempPesanan) {
            totalHarga += tempPesanan[i].pTotalHarga;
            taxTotal = totalHarga * 0.15;
            totalBayar = totalHarga + taxTotal;

            cHtml += "<tr><td style='display: none;'>" + tempPesanan[i].pId + "</td><td style='display: none;'>" + tempPesanan[i].pJumlah + "</td><td>" + tempPesanan[i].pNama + "</td><td>" + tempPesanan[i].pHarga + 
                "</td><td><a href='javascript:void(0)' class='btn btn-warning btn-sm' id='bKurang'><</a><a href='javascript:void(0)' class='btn btn-sm' disabled>" + tempPesanan[i].pJumlah
                + "</a><a href='javascript:void(0)' class='btn btn-warning btn-sm' id='bTambah'>></a></td>" + "<td>" + tempPesanan[i].pTotalHarga + "</td></tr>";
            var cTotal = "Total : Rp. " + totalBayar;
        }
        $("#tbody-tPesanan").empty();
        $('#tPesanan').append(cHtml);

        document.getElementById('subTotal').innerHTML = totalHarga;
        document.getElementById('tax').innerHTML = taxTotal;
        document.getElementById('total').innerHTML = cTotal;
    }

    //#region Pengaturan Jumlah Pesanan
    $("#tPesanan").on('click', '#bKurang', function () {
        var currentRow = $(this).closest("tr");
        var id = currentRow.find("td:eq(0)").text();
        var jumlah = currentRow.find("td:eq(1)").text();
        if (jumlah == 1) {
            for (var i in tempPesanan) {
                if (tempPesanan[i].pId == id) {
                    delete tempPesanan[i];
                    TampilPesanan();
                }
            }
        } else {
            for (var i in tempPesanan) {
                if (tempPesanan[i].pId == id) {
                    tempPesanan[i].pTotalHarga = tempPesanan[i].pTotalHarga - tempPesanan[i].pHarga;
                    tempPesanan[i].pJumlah = tempPesanan[i].pJumlah - 1;

                    TampilPesanan();
                }
            }
        }
    });

    $("#tPesanan").on('click', '#bTambah', function () {
        var currentRow = $(this).closest("tr");
        var id = currentRow.find("td:eq(0)").text();

        for (var i in tempPesanan) {
            if (tempPesanan[i].pId == id) {
                tempPesanan[i].pTotalHarga = tempPesanan[i].pTotalHarga + tempPesanan[i].pHarga;
                tempPesanan[i].pJumlah = tempPesanan[i].pJumlah + 1;

                TampilPesanan();
            }
        }
    });
    //#endregion

    function BayarSekarang() {
        $("#modal-Pembayaran").modal("show");

        $("#mTotalBayar").text("Rp. " + totalBayar);
    }

    function BayarNanti() {
        $("#tbody-tPesanan").empty();

        totalHarga = 0;
        taxTotal = 0;
        totalBayar = 0;
        var cTotal = "Total : Rp. " + totalBayar;
        tempPesanan = [];

        document.getElementById('subTotal').innerHTML = totalHarga;
        document.getElementById('tax').innerHTML = taxTotal;
        document.getElementById('total').innerHTML = cTotal;

        alert("Pesanan Sudah Dibuat!! Status : Belum Dibayar");
    }

    function ValueKembali() {
        var cash = $("#jumlahCash").val();
        var hasilKembali = cash - totalBayar;

        $("#hKembali").text("Kembalian : Rp. " + hasilKembali);

        if (hasilKembali < 0) {
            $("#bBayar").prop('disabled', true);
        } else {
            $("#bBayar").prop('disabled', false);
        }
    }

    function CloseModalPembayaran() {
        $("#modal-Pembayaran").modal("hide");
    }
</script>